
<p>Task: <%=@tasks.title %>, Details: <%=@tasks.details %>, Completed: <%=@tasks.completed%></p>
<%= link_to 'back', tasks_path%>
<%= link_to 'edit', edit_task_path(@tasks) %>
<%= link_to 'delete', task_path(@tasks), method: :delete, data: {confirm: 'Are you sure?'} %>
